body {
    background-color: hsl(56 24% 76%);
}

h1 {
    font-size: 48px;
    text-align: center;
    font-family: serif;
}

#index-h1 {
    padding-left: 35px;
}

h1, h3 {
    color:hsl(360 24% 43%)
}

h2 {
    font-size: 28px;
}

h3 {
    font-size: 22px;
}

p, li {
    font-size: 22px;
}

#tres-leches, #banana-bars, #almond-cookies {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#tres-leches {
    background-color: hsl(282 24% 62%);
    width: 158px;
    color: hsl(360 100% 100%);
}

#banana-bars {
    background-color: hsl(118 43% 54%);
    width: 113px;
    color: hsl(360 100% 100%);
}

#almond-cookies {
    background-color: hsl(220 43% 54%);
    width: 290px;
    color: hsl(360 100% 100%);
}

a {
    color: hsl(360 100% 100%);
    text-decoration: none;
}

.recipeimg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
}

.tres-h2 {
    color: hsl(282 24% 62%);
}

.banana-h2 {
    color: hsl(118 43% 54%);
}

.almond-h2 {
    color: hsl(220 43% 54%);
}

#recipe-body {
    color: hsl(360 1% 33%);
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    background-color: hsl(360 100% 100%);
    width: 65%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}

#index-div {
    height: auto;
    padding-bottom: 5px;
    width: 40%
}

#tres-img {
    background-color: hsl(282 24% 62%);
}

#banana-img {
    background-color: hsl(118 43% 54%);
}

#almond-img {
    background-color: hsl(220 43% 54%);
}

.home {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 80px;
    width: auto;
}